<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Passenger Search</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

    <div class="header">

    <div class="logo">
        <img src="/static/images/logo.png" alt="Chaitra Paripathi Logo">
    </div>

    <h1>श्री पौड रोड जैन श्वेतांबर मूर्ति पूजक संघ</h1>

    <h2>पूर्णिमा पाबल यात्रा वर्ग</h2>

    <h3>पुणे</h3>


    <p class="subtitle">
        Passenger Search Portal
    </p>

</div>

    <div class="search-box">

        <input
            id="searchBox"
            type="text"
            placeholder="Enter Name / Mobile"
        >

        <button onclick="searchPassenger()">
            Search
        </button>

    </div>

    <div id="loading" class="loading">
        Searching...
    </div>

    <div id="result"></div>

</div>
<div class="footer">
    © 2026 चैत्य परिपाठी पौड रोड • Search Portal
</div>
<script src="/static/app.js"></script>

</body>
</html>